*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(69, 34, 114);
}

/* css of circle preloder */
.circle{
    margin: 70px auto;
    width: 40px;
    height: 40px;
    border: 5px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

/* css of dot preloder */
.container{
    margin: 70px auto;
    width: 60px;
}
.dot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
.dot1{
    background-color: rgb(0, 0, 255);
    animation: jump-up 0.6s 0.1s linear infinite;
}
.dot2{
    background-color: rgb(255, 0, 0);
    animation: jump-up 0.6s 0.2s linear infinite;
}
.dot3{
    background-color: rgb(0, 255, 0);
    animation: jump-up 0.6s 0.3s linear infinite;
}
@keyframes jump-up{
    50%{
        transform: translate(0,15px);
    }
}

/* css of box preloder */
/* container class's CSS in dot section */
.box{
   background-color: #fff; 
   height: 25px;
   width: 25px;
   display: inline-block;
   animation: pulse 0.6s ease-in infinite alternate;
}
.box2,
.box3{
    animation-delay: 0.6s;
}
@keyframes pulse{
    100%{
        opacity: 0;
    }
}

/* css of progressbar preloder */
.conta{
 height: 200px;
 width: 500px;
 margin: 70px auto;
}
.loading{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.percent{
    color: #999 ;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}
.text{
    position: absolute;
    color: #fdb5ca;
    font-size: 10px;
    left: 170px;
    letter-spacing: 1px;
    line-height: 10px;
    display: none;
}
.blink{
    animation: blink .7s ease-in-out .1s;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
}
.progress-bar{
    width: 400px;
    height: 11px;
    background: #111;
    border-radius: 7px;
    
}
.progress{
    width: 100px;
    height: 11px;
    background: #f60d54;
    border-radius: 7px;
}
